// Skip Link

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

// Announcements
.announcements {
    text-align: center;
    padding: 10px 0;
}

// Nav BAR
// .navBar {
//     position: sticky;
//     top: 0;
//     border-top: 1px solid rgba(8, 75, 109, 0.08);
//     border-bottom: 1px solid rgba(8, 75, 109, 0.08);
//     background-color: $solidWhite;
//     z-index: 10;

//     .wrapper {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 20px 0;
//     }


label {
    cursor: pointer;
}

.searchCart {
    display: flex;

    .menuIcon,
    .bag {
        margin-right: 15px;
    }

    .bag {
        display: flex;
    }

    .counter {
        display: flex;
        align-items: center;

        p {
            width: 24px;
            height: 24px;
            background: $primary;
            border-radius: 50%;
            color: $solidWhite;
            text-align: center;
        }
    }
}

// Slide Out Nav
.slideOutNav {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: -506px;
    height: 100vh;
    width: 100%;
    max-width: 506px;
    padding: 35px 50px;
    transition: 0.75s;
}

.mainMenu {
    a {
        font-family: $headingFont;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: $primary;
        transition: 0.3s;

        &:hover,
        &:focus {
            color: gray;
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.menuClose {
    color: $solidWhite;
    font-size: 1.2rem;
}

.mainMenu {
    height: 0;
}

.menuToggle {
    height: 200px;
    background: orange;
}